body {
            margin: 0;
            padding: 0;
            background-color: rgb(245, 243, 243);
        }

        header {
             position: relative;
            font-family: "Libertinus Keyboard";
            font-size: 20px;
            background: #020313;
            color: #444bb4;
            padding: 1rem 40px;
            /* text-align: center; */

            display:flex;
            justify-content: space-between;
            align-items: center;
           
        }

        header a {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            color: #8286b6;
            text-decoration: none;
            padding: 0.5rem 1rem;
        }

        header a:hover {

            text-decoration: underline;
        }

        .logout-btn {
    top: 20px;
    right: 30px;
    background: #ff4d4d;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    z-index: 1000;
}

.logout-btn:hover {
    background: #cc0000;
}
nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

        .form-box {
    width: 350px;
    margin: 60px auto;
    padding: 25px;
    background: white;
    border-radius: 8px; 
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    text-align: center;
}
.form-box h2 {
    color: rgb(255, 97, 34);
}

.form-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

.form-box button {
    width: 95%;
    padding: 10px;
    background:  rgb(255, 165, 0);
    color: white;
    border: none;
    cursor: pointer;
}

.form-box button:hover {
    background: rgb(247, 121, 37);
}